* {
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url(/img/backgrounds/background-auth.png);
    background-color: var(--fundo-primario);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

figcaption {
    display: none;
}

#card-login {
    width: 37vw;
    max-width: 555px;
    height: 100%;
    padding: 32px;
    margin-left: clamp(132px, 16.11vw, 232px);
    background: rgba(30, 30, 30, .5);
    opacity: 1;
    gap: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 32px;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, .25);
}

#img-logo-pd-sports {
    width: 27.91vw;
    max-width: 402px;
    object-fit: contain;
}

#title-login {
    font-family: var(--fonte-montserrat);
    font-size: clamp(32px, 2.7vw, 40px);
    color: var(--cor-branca);
}

#container-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

#subtitle-input {
    font-family: var(--fonte-montserrat);
    font-size: clamp(14px, 1.1vw, 20px);
    color: var(--cor-branca);
}

#input-email,
#input-password {
    border: none;
    outline: none;
    width: 31.94vw;
    max-width: 460px;
    height: 50px;
    padding-left: 23px;
    background-color: var(--fundo-inputs);
    border-radius: 8px;
    font-family: var(--fonte-montserrat);
    color: var(--cor-branca);
    transition: .3s ease;
}


#input-email:focus-within,
#input-password:focus-within {
    transition: .3s ease;
    box-shadow: 0px 0px 1px 2px var(--cor-branca);
}

#input-email::placeholder,
#input-password::placeholder {
    font-family: var(--fonte-montserrat);
    font-size: clamp(12px, 1.1vw, 20px);
    color: rgba(255, 255, 255, .45);
}

#recovery-password {
    font-family: var(--fonte-montserrat);
    font-size: 16px;
    color: var(--cor-destaque);
    padding-top: 20px;
    margin: 0;
}

#container-buttons-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

#link-back {
    border: none;
    outline: none;
    width: 14.79vw;
    max-width: 213px;
    height: 60px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid var(--cor-destaque);
    font-family: var(--fonte-montserrat);
    font-size: 18px;
    color: var(--cor-destaque);
    transition: .3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



#link-back:hover {
    background-color: #465210;
    border: 2px solid #CFED89;
    color: #CFED89;
}

#btn-login {
    border: none;
    outline: none;
    width: 14.79vw;
    max-width: 213px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--cor-destaque);
    font-family: var(--fonte-montserrat);
    font-size: 18px;
    color: #1D0F28;
    cursor: pointer;
    transition: .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-login:hover {
    background-color: #CFED89;
}

#txt-quest-authenticated {
    font-family: var(--fonte-montserrat);
    font-size: 14px;
    color: var(--cor-branca);
    margin: 0;
}

#link-signup {
    font-size: 16px;
    color: var(--cor-destaque);
}

/* RESPONSIVIDADE */

@media (max-width: 600px) {
    body {
        background-image: url(/img/backgrounds/background-auth.png);
        background-position: 91%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 600px) {
    #card-login {
        width: 370px;
        height: 100%;
        padding: 32px;
        margin: 0 auto;
        background: rgba(30, 30, 30, .5);
        opacity: 1;
        gap: 12px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        border-radius: 32px;
    }
}

@media(max-width: 600px) {
    #img-logo-pd-sports {
        width: 222px;
        max-width: 222px;
        object-fit: contain;
    }
}

@media(max-width: 600px) {

    #input-email,
    #input-password {
        border: none;
        outline: none;
        width: 317px;
        height: 41px;
        padding-left: 23px;
        background-color: var(--fundo-inputs);
        border-radius: 8px;
        color: var(--cor-branca);
        transition: .3s ease;
    }
}

@media(max-width: 600px) {
    #recovery-password {
        font-family: var(--fonte-montserrat);
        font-size: 16px;
        color: var(--cor-destaque);
        padding-top: 10px;
    }
}

@media(max-width: 600px) {
    #container-buttons-login {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}

@media(max-width: 600px) {
    #link-back {
        border: none;
        outline: none;
        width: 150px;
        max-width: 150px;
        height: 43px;
        border-radius: 30px;
        background-color: transparent;
        border: 2px solid var(--cor-destaque);
        font-family: var(--fonte-montserrat);
        font-size: 16px;
        color: var(--cor-destaque);
        transition: .3s ease;
        cursor: pointer;
    }
}

@media(max-width: 600px) {
    #btn-login {
        border: none;
        outline: none;
        width: 150px;
        max-width: 150px;
        height: 43px;
        border-radius: 30px;
        background-color: var(--cor-destaque);
        font-family: var(--fonte-montserrat);
        font-size: 16px;
        color: #1D0F28;
        cursor: pointer;
        transition: .3s ease;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: url(/img/backgrounds/background-auth.png);
        background-color: var(--fundo-primario);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card-login {
        width: 45vw;
        max-width: 555px;
        height: 100%;
        padding: 32px;
        margin-left: clamp(32px, 4.3vw, 62px);
        background: rgba(30, 30, 30, .5);
        opacity: 1;
        gap: 14px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        border-radius: 32px;
        box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, .25);
    }

    #input-email,
    #input-password {
        border: none;
        outline: none;
        width: 36vw;
        max-width: 350px;
        height: 50px;
        padding-left: 23px;
        background-color: var(--fundo-inputs);
        border-radius: 8px;
        font-family: var(--fonte-montserrat);
        color: var(--cor-branca);
        transition: .3s ease;
    }

    #recovery-password {
        font-family: var(--fonte-montserrat);
        font-size: 16px;
        color: var(--cor-destaque);
        padding-top: 10px;
    }

    #container-buttons-login {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #link-back {
        border: none;
        outline: none;
        width: 12vw;
        max-width: 213px;
        height: 50px;
        border-radius: 30px;
        background-color: transparent;
        border: 2px solid var(--cor-destaque);
        font-family: var(--fonte-montserrat);
        font-size: 18px;
        color: var(--cor-destaque);
        transition: .3s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    #btn-login {
        border: none;
        outline: none;
        width: 12vw;
        max-width: 213px;
        height: 50px;
        border-radius: 30px;
        background-color: var(--cor-destaque);
        font-family: var(--fonte-montserrat);
        font-size: 18px;
        color: #1D0F28;
        cursor: pointer;
        transition: .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #txt-quest-authenticated {
        font-family: var(--fonte-montserrat);
        font-size: 14px;
        color: var(--cor-branca);
        text-align: center;
    }
}