/* IMAGEM DE FUNDO */
body {
    background-image: url(../img/backgrounds/backgroud-running.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--cor-branca);
    font-family: var(--fonte-montserrat);
}

.icon {
    stroke: #1D0F28;
}

/* CONTEUDO */
main {
    margin: 100px 0;
}

.cabecalho-lista-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

h2 {
    color: var(--cor-destaque);
    font-size: var(--titulo-sessao-desktop);
    font-weight: bold;
    margin: 0;
}


.produtos-populares {
    margin-top: 70px;
}

.produtos-populares h2 {
    margin-bottom: 1.5em;
}

.dropdown-toggle::after {
    display: none;
}

@media (max-width: 470px) {
    .cabecalho-lista-produtos {
        flex-direction: column;
        align-items: start;
        gap: .5em;
    }

    .cabecalho-lista-produtos button {
        width: 100%;
    }

    h2,
    .card h3,
    .card div p {
        font-size: var(--titulo-sessao-mobile);
    }

    .botao {
        font-size: var(--texto-mobile);
    }
}