/* IMG FUNDO */
body {
    background-image: url(../img/background-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 100vh;
    font-family: var(--fonte-montserrat);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

/* FORMULARIO */
#form-password-reset {
    background-color: #44444480;
    padding: 50px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.img-logo {
    width: 90%;
    margin: 0 auto;
    margin-bottom: .5em;
}

p label {
    color: var(--cor-branca);
    font-size: var(--texto-desktop);
}

#input-email {
    width: 100%;
    background-color: var(--fundo-inputs);
    padding: .5em;
    border: none;
    border-radius: 5px;
}

#input-email::placeholder {
    color: #ffffff70;
}

/* RECAPTCHA */
.recaptcha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-branca);
    padding: .5em;
    border-radius: 5px;
}

.recaptcha input {
    width: 1.5em;
    height: 1.5em;
}

.recaptcha-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recaptcha-logo img {
    width: 2em;
}

.recaptcha-logo small {
    font-size: 8px;
}

/* BOTOES */
div {
    display: flex;
    gap: 1em;
}

.btn-voltar {
    border: 2px solid var(--cor-destaque);
    color: var(--cor-destaque);
    text-decoration: none;
    width: 100%;
    padding: 10px 30px;
    border-radius: 50px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-voltar:hover {
    background-color: #465210;
}

.botao {
    width: 100%;
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: 2fr 1fr;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    body {
        background-position: 90% 0; 
    }
    
    .container {
        grid-template-columns: 1fr;
    }

    #form-password-reset {
        width: 90%;
        margin: 0 auto;
    }
}