@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,600;1,5..1200,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    /* FONTES */
    --fonte-prata: "Prata", serif;
    --fonte-playfair: "Playfair", serif;
    --fonte-montserrat: "Montserrat", sans-serif;

    /* TAMANHOS DAS FONTES DESKTOP */
    --titulo-grande-desktop: 64px;
    --titulo-sessao-desktop: 24px;
    --texto-desktop: 16px;

    /* TAMANHOS DAS FONTES MOBILE */
    --titulo-grande-mobile: 36px;
    --titulo-sessao-mobile: 20px;
    --texto-mobile: 16px;

    /* CORES */
    --cor-destaque: #C9F40E;
    --fundo-primario: #121212;
    --fundo-secundario: #2E2E2E;
    --fundo-terciario: #1C1C1C;
    --cor-branca: #FFFFFF;
    --fundo-inputs: #8D8D8D;
}

body {
    background-image: url(/img/backgrounds/background-auth.png);
    background-color: var(--fundo-primario);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

figcaption {
    display: none;
}

#card-register {
    width: 58vw;
    max-width: 849px;
    height: 90vh;
    max-height: 817px;
    padding: clamp(25px, 2.5vw, 50px);
    margin-left: clamp(32px, 4.3vw, 62px);

    background: rgba(30, 30, 30, .5);
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 32px;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, .25);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-logo-pd-sports {
    width: 27.91vw;
    max-width: 402px;
    height: 7.5vh;
    max-height: 77px;
    object-fit: contain;
    margin: 0 auto;
}

@media(max-width: 600px) {
    #img-logo-pd-sports {
        width: 222px;
        max-width: 222px;
        height: 43px;
        max-height: 43px;
        object-fit: contain;
    }
}

#title-register {
    font-family: var(--fonte-montserrat);
    font-size: clamp(32px, 2.7vw, 40px);
    color: var(--cor-branca);
    text-align: center;
}

#section-input {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: clamp(12.5px, 1vw, 25px);
}

#container-input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
}

#subtitle-input {
    font-family: var(--fonte-montserrat);
    font-size: clamp(14px, 1.1vw, 20px);
    color: var(--cor-branca);
}

#input-name,
#input-phone,
#input-password,
#input-email,
#input-date-of-birth,
#input-confirm-password {
    border: none;
    outline: none;
    width: 25.79vw;
    max-width: 371.5px;
    height: 8vh;
    max-height: 68px;
    padding-left: 23px;
    background-color: var(--fundo-inputs);
    border-radius: 8px;
    font-family: var(--fonte-montserrat);
    color: var(--cor-branca);
    transition: .3s ease;
}

#input-name::placeholder,
#input-phone::placeholder,
#input-password::placeholder,
#input-email::placeholder,
#input-date-of-birth::placeholder,
#input-confirm-password::placeholder {
    font-family: var(--fonte-montserrat);
    font-size: clamp(12px, 1.1vw, 20px);
    color: rgba(255, 255, 255, .45);
}

#input-name:focus-within,
#input-phone:focus-within,
#input-password:focus-within,
#input-email:focus-within,
#input-date-of-birth:focus-within,
#input-confirm-password:focus-within {
    transition: .3s ease;
    box-shadow: 0px 0px 12px 2px var(--cor-branca);
}

#container-input-date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#icon-calendar-days {
    position: absolute;
    right: 19px;
    color: var(--cor-branca);
}

#container-checkbox-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

#input-checkbox[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--cor-destaque);
    border-radius: 4px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
}

#input-checkbox[type="checkbox"]:checked {
    background-color: #CFED89;
}

#input-checkbox[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 3.5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #1D0F28;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#txt-checkbox-input {
    font-family: var(--fonte-montserrat);
    font-size: clamp(12px, 1.1vw, 20px);
    color: var(--cor-destaque)
}

#container-footer-register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(17px, 2.36vw, 34px);
}

#txt-quest-authenticated {
    font-family: var(--fonte-montserrat);
    font-size: 14px;
    color: var(--cor-branca);
}

#container-buttons-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

@media(max-width: 600px) {
    #container-buttons-login {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}

#link-back {
    border: none;
    outline: none;
    width: 14.79vw;
    max-width: 213px;
    height: 60px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid var(--cor-destaque);
    font-family: var(--fonte-montserrat);
    font-size: 18px;
    color: var(--cor-destaque);
    transition: .3s ease;
    cursor: pointer;
}

@media(max-width: 600px) {
    #link-back {
        border: none;
        outline: none;
        width: 150px;
        max-width: 150px;
        height: 43px;
        border-radius: 30px;
        background-color: transparent;
        border: 2px solid var(--cor-destaque);
        font-family: var(--fonte-montserrat);
        font-size: 16px;
        color: var(--cor-destaque);
        transition: .3s ease;
        cursor: pointer;
    }
}

#link-back:hover {
    background-color: #465210;
    border: 2px solid #CFED89;
    color: #CFED89;
}

#link-login button {
    border: none;
    outline: none;
    width: 14.79vw;
    max-width: 213px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--cor-destaque);
    font-family: var(--fonte-montserrat);
    font-size: 18px;
    color: #1D0F28;
    cursor: pointer;
    transition: .3s ease;
}

@media(max-width: 600px) {
    #link-login button {
        border: none;
        outline: none;
        width: 150px;
        max-width: 150px;
        height: 43px;
        border-radius: 30px;
        background-color: var(--cor-destaque);
        font-family: var(--fonte-montserrat);
        font-size: 16px;
        color: #1D0F28;
        cursor: pointer;
        transition: .3s ease;
    }
}

#link-login button:hover {
    background-color: #CFED89;
}

#link-login {
    font-size: 16px;
    color: var(--cor-destaque);
    transition: .3s ease;
}

#link-login:hover {
    color: #CFED89;
}