@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,600;1,5..1200,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTES */
    --fonte-prata: "Prata", serif;
    --fonte-playfair: "Playfair", serif;
    --fonte-montserrat: "Montserrat", sans-serif;

    /* TAMANHOS DAS FONTES DESKTOP */
    --titulo-grande-desktop: 64px;
    --titulo-sessao-desktop: 24px;
    --texto-desktop: 16px;

    /* TAMANHOS DAS FONTES MOBILE */
    --titulo-grande-mobile: 36px;
    --titulo-sessao-mobile: 20px;
    --texto-mobile: 16px;

    /* CORES */
    --cor-destaque: #C9F40E;
    --fundo-primario: #121212;
    --fundo-secundario: #2E2E2E;
    --fundo-terciario: #1C1C1C;
    --cor-branca: #FFFFFF;
    --fundo-inputs: #8D8D8D;
}

body {
    background-color: var(--fundo-primario);
}

/* EFEITO DE HOVER GERAL */

.link-underline:hover::after {
    width: 100%;
}

.link-underline {
    position: relative;
    text-decoration: none;
    color: #1D0F28;
}

.link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

/* ESTILO DA BARRA DE NAVEGAÇÃO (ELIAS) */
.logo img {
    width: 200px;
    padding-left: 15px;
}

/* Alinha o dropdown de modalidades*/
.container-dropdown-options {
    border-right: 2px solid #000;
    padding-right: 15px;
    margin-right: 15px;
}

/* Define a altura e cor de fundo da barra de navegação*/
.navigation-bar {
    background-color: var(--fundo-terciario);
    height: 95px;
}

/* Define tamanho padrão para ícones grandes */
.icon-lg {
    width: 29px;
    height: 29px;
}

/* Altera a cor do ícone ao passar o mouse */
.icon-lg:hover {
    color: var(--cor-destaque);
}

/* Centraliza o campo de busca do meio da nav */
.container-search {
    display: flex;
    justify-content: center;
}

.icon-lg:hover,
#user-link:hover * {
    color: var(--cor-destaque);
}

#user-link {
    text-decoration: none;
}

/* Estiliza o campo de busca com bordas arredondadas, limitando a largura do inpuit e espaçamento interno */
.search-input {
    border-radius: 25px;
    padding-left: 30px;
    max-width: 800px;
}

/* Define a cor de fundo da segunda barra de menu */
.menu-bar-second {
    background-color: var(--cor-destaque);
}

/* Remove o efeito de sombra ao focar em botões */
.btn:focus {
    box-shadow: none;
}

/* Organiza os itens do menu em linha, com espaçamento e alinhamento central */
.modality-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: var(--fonte-montserrat);
}

/* Define estilo padrão para os links do menu */
.modality-menu a {
    color: #1D0F28;
    font-weight: 500;
    text-decoration: none;
}

/* Define tamanho e peso da fonte do botão dropdown */
.button-dropdown-nav {
    font-size: 18px;
    font-weight: 500;
}

.button-dropdown-nav::after {
    display: none;
}

/* Define posição relativa para servir de referência ao dropdown */
.container-dropdown-options {
    position: relative;
}

/* Centraliza o menu dropdown horizontalmente em relação ao botão */
.dropdown-modality {
    left: 18% !important;
    transform: translateX(-50%);
}

/* Alinha as opçoes de modalidades com espaços iguais entre si */
.list-second-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}


/* HERO SECTION (ELIAS) */
.title-banner {
    font-family: var(--fonte-playfair);
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    font-style: italic;
}


.lead {
    font-family: var(--fonte-montserrat);
    font-size: clamp(0.9rem, 1.5vw, 1.25rem);
}

.btn-custom-outline {
    border: 2px solid var(--cor-destaque);
    color: var(--cor-destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.2vw, 1.3rem);
    width: clamp(160px, 25vw, 255px);
    height: clamp(40px, 6vw, 60px);
}

.btn-custom-outline:hover {
    background-color: #c6ff00;
    color: #000;
}

.hero-slide {
    min-height: clamp(320px, 60vh, 530px);
    background-size: cover;
    background-position: center right;
    position: relative;
}

/* Garante que o conteúdo fique acima do overlay */
.hero-slide .container {
    position: relative;
    z-index: 1;
    min-height: 500px;
}


/* Imagens de cada slide */
.hero-1 {
    background-image: url("../img/banner/banner-1.png");
}

.hero-2 {
    background-image: url("../img/banner/banner-2.png");
}

.hero-3 {
    background-image: url("../img/banner/banner-3.png");
}

.hero-4 {
    background-image: url("../img/banner/banner-4.png");
}

#hero-carousel .carousel-indicators button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.4;
    border: none;
    margin: 0 6px;
    transition: all 0.3s ease;
}

#hero-carousel .carousel-indicators button.active {
    width: 16px;
    height: 16px;
    opacity: 1;
    background-color: var(--cor-destaque);
}


/* CARDS */
.card {
    padding: 15px;
    border-radius: 32px;
    background-color: var(--fundo-secundario);
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    gap: .8em;
    transition: 0.2s;
}

.card img {
    border-radius: 24px;
}

.card h3 {
    font-size: var(--titulo-sessao-desktop);
    font-family: var(--fonte-montserrat);
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card div p {
    font-family: var(--fonte-montserrat);
    font-size: var(--titulo-sessao-desktop);
    margin: 0;
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
    background-color: #141414;
}

.botao {
    background-color: var(--cor-destaque);
    padding: 10px 30px;
    border-radius: 50px;
    color: #1D0F28;
    font-family: var(--fonte-montserrat);
    border: none;
    font-size: var(--texto-desktop);
    font-weight: bold;
    transition: .3s;
    text-decoration: none;
}

.botao:hover {
    background-color: #CFED89;
    color: var(--fundo-primario);
}

.card button {
    background-color: var(--cor-destaque);
    border: none;
    border-radius: 20px;
    padding: .5em;
    transition: .3s;
    flex: 0 0 auto;
}

.card button:hover {
    background-color: #CFED89;
}

.icon-card {
    width: 2em;
    height: 2em;
}

/* MEDIA QUERIES DA HERO (ELIAS)*/
@media (max-width: 768px) {
    .hero-slide {
        background-position: center;
    }
}

@media (max-width: 470px) {
    .cabecalho-lista-produtos {
        flex-direction: column;
        align-items: start;
        gap: .5em;
    }

    .cabecalho-lista-produtos button {
        width: 100%;
    }

    h2,
    .card h3,
    .card div p {
        font-size: var(--titulo-sessao-mobile);
    }

    .botao {
        font-size: var(--texto-mobile);
    }
}