@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,600;1,5..1200,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTES */
    --fonte-prata: "Prata", serif;
    --fonte-playfair: "Playfair", serif;
    --fonte-montserrat: "Montserrat", sans-serif;

    /* TAMANHOS DAS FONTES DESKTOP */
    --titulo-grande-desktop: 64px;
    --titulo-sessao-desktop: 24px;
    --texto-desktop: 16px;

    /* TAMANHOS DAS FONTES MOBILE */
    --titulo-grande-mobile: 36px;
    --titulo-sessao-mobile: 20px;
    --texto-mobile: 16px;

    /* CORES */
    --cor-destaque: #C9F40E;
    --fundo-primario: #121212;
    --fundo-secundario: #2E2E2E;
    --fundo-terciario: #1C1C1C;
    --cor-branca: #FFFFFF;
    --fundo-inputs: #8D8D8D;
}

body {
    background-color: var(--fundo-primario);
}

/* EFEITO DE HOVER GERAL */

.link-underline:hover::after {
    width: 100%;
}

.link-underline {
    position: relative;
    text-decoration: none;
    color: #1D0F28;
}

.link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

/* ESTILO DA BARRA DE NAVEGAÇÃO (ELIAS) */
.container-dropdown-options {
    border-right: 2px solid #000;
    padding-right: 15px;
    margin-right: 15px;
}

/* Define a altura e cor de fundo da barra de navegação*/
.navigation-bar {
    background-color: var(--fundo-terciario);
    height: 95px;
}

/* Define tamanho padrão para ícones grandes */
.icon-lg {
  width: 29px;
  height: 29px;
}

/* Altera a cor do ícone ao passar o mouse */
.icon-lg:hover, #user-link:hover * {
    color: var(--cor-destaque);
}

#user-link {
    text-decoration: none;
}

/* Estiliza o campo de busca com bordas arredondadas e espaçamento interno */
.search-input {
    border-radius: 25px;
    padding-left: 30px;
}

/* Define a cor de fundo da segunda barra de menu */
.menu-bar-second {
    background-color: var(--cor-destaque);
}

/* Remove o efeito de sombra ao focar em botões */
.btn:focus {
    box-shadow: none;
}

/* Organiza os itens do menu em linha, com espaçamento e alinhamento central */
.modality-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

/* Define estilo padrão para os links do menu */
.modality-menu a {
    color: #1D0F28;
    font-weight: 500;
    text-decoration: none;
}

/* Define tamanho e peso da fonte do botão dropdown */
.button-dropdown-nav {
    font-size: 18px;
    font-weight: 500;
}

/* Define posição relativa para servir de referência ao dropdown */
.container-dropdown-options {
    position: relative;
}

/* Centraliza o menu dropdown horizontalmente em relação ao botão */
.dropdown-modality {
    left: 18% !important;
    transform: translateX(-50%);
}

/* Alinha as opçoes de modalidades com espaços iguais entre si */
.list-second-options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}