# Postman
postman/
Postman/
*.postman_collection.json
*.postman_environment.json

# Pastas comuns onde configs podem aparecer
*.postman/
postman_collections/
postman_environments/

# Arquivos locais/exportações
*.json.backup

# Arquivos de ambiente/sensíveis
.env
.env.*